
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', 'sans-serif';
}
.topbar{
    padding: 5px 5px;
    background-color: #026670;
    color: #ffffff;
    margin-top: -5px;
    height: 55px;
}
.card{
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #FFCB9A;
}
.card-title{
    padding: 10px 0px;

    border-radius: 5px;
}
.card-block input{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin:10px 0px;
}
.card-block h4,.card-block p, .card-block label{
    padding: 5px;
}
.save:hover, .notify:hover{
    cursor: pointer;
}
.filter{
    font-size: 24px;
}
.create-container{
    margin:0px;
    padding: 0px;
}
.add-category input{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin:10px 0px;
}
.add-category{
    height: 300px;
}
body{
    background-color: #4bb091;
}
#category-create, .unmute-select, .mute-select, .category-filter{
    font-size: 14px;
}
.nav a{
    color: white;
}
.category-filter{
    margin-top: 5px;
    margin-bottom: 5px;
}
